/.vs/InternetOnNotificator/v17
/.vs/ProjectEvaluation
/.vs/InternetOnNotificator/FileContentIndex
/InternetOnNotificator/obj
/InternetOnNotificator/bin/Debug/net6.0
/.vs/InternetOnNotificator/DesignTimeBuild
